.vscode*
.venvs*
.venv/

*.pyc
__pycache__*

instance*

.pytest_cache*
.coverage*
htmlcov*

dist*
build*
*.egg-info/
.DS_Store

llama-2-7b.Q2_K.gguf
ch03/single_model_llm_serving/model_cache/*
venv/*
*/venv/
.env

.idea/

mise.local.toml
mise.*.local.toml
